{
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "printWidth": 120,
  "semi": true,
  "singleAttributePerLine": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "overrides": [
    {
      "files": "*.{html,scss}",
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
